body {
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: white;

}

p {
  font-size: 20px;
}

.content-tabela {
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 2px 2px 0 0;

}

.responzivnost {
  overflow-x: auto;
  overflow-y: auto;
}

.content-tabela thead tr {
  font-weight: bold;
  color: black;
  font-size: 1.5em;

}

.content-tabela th,
.content-tabela td {
  padding: 20px 20px;
  font-size: 1em;
  border: 2px solid;
  text-align: center;
  white-space: nowrap;
}

.content-tabela tbody tr {
  border-bottom: 2.5px solid;
  border-left: 2.5px;
  border-right: 2.5px solid;
  font-weight: bold;
  color: rgb(39, 38, 38);
  border-collapse: collapse;
  height: 20%;
}